* {
  font-family: 'Century Gothic', 'Malgun Gothic', 'Lucida Console', 'Lucida Sans', Arial, Helvetica, sans-serif;
}

html,
body,
.wrapper {
  background-color: rgb(49, 43, 49);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

header {
  font-size: 30px;
  text-align: center;
  color: hsl(335, 100%, 60%);
}

.timer {
  font-size: 25px;
  font-weight: lighter;
}

.card {
  background-color: hsl(230, 6%, 40%);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: rgb(255, 111, 195);
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.btn {
  background-color: rgb(255, 111, 195);
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin: 16px;
  padding: 14px 34px;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: rgb(255, 111, 195);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  margin: 15px;
  padding: 14px 30px;
  cursor: pointer;
}

/* Makes buttons hover so user knows the button is "live" */
button:hover, .btn:hover {
  box-shadow: inset 0px 0px 15px rgb(170, 14, 131);
  transform: scale(1.1);
}

.options {
  display: flex;
  flex-direction: column;
}

.inputBox {
  border: none;
  background-color: rgb(255, 255, 255);
  color: hsl(0, 0%, 0%);
  font-size: 30px;
  margin: 15px;
  padding: 14px 30px;
  cursor: pointer;
}

input {
  border: none;
  background-color: rgb(255, 111, 195);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  font-size: 35px;
  margin: 15px;
  padding: 14px 30px;
  cursor: pointer;
}

.card-footer {
  text-align: center;
}

/* Hides Restart and Score buttons until removed when initials are submitted */
.hideDiv1, .hideDiv2 {
  visibility: hidden;
}

#title {
  font-size: 100px;
  margin: 0;
}

h3 {
  font-size: 60px;
  margin: 10px 0 0;
}

h3::before {
  content: " ";
  display: block;
  width: 100%;
  background: rgb(255, 111, 195);
  height: 3px;
  margin-top: -20px;
  margin-bottom: 30px;
}

h3, #title {
  color: rgb(255, 111, 195);
  text-align: center;
}

.scoresBox {
  background-color: hsl(230, 6%, 40%);
  border-radius: 20px;
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
}